@{
    ViewData["Title"] = "Avans No To Waste";
}

<div class="text-center">
    <h1 class="display-4">Avans No To Waste</h1>
    <p>Avans No To Waste is een webproject wat zich richt en gebasseerd op het reduceren van voedselverspilling. Dit houdt in wanneer producten of maaltijden nog gegeten kunnen worden maar voor een 
        minder lange periode
    </p>
</div>
